.ace-twilight .ace_marker-layer .ace_xref {
margin: -1px 0 0 -1px;
border: 1px solid rgba(255, 255, 255, 0.25);
background-color: yellow;
color: black;
position: absolute;
animation-name: xref-appears;
animation-duration: 1s;
}

@keyframes xref-appears {
  0%   {background-color:black;}
  49%  {background-color:black;}
  50%  {background-color:wheat;}
  55%  {background-color:black;}
  60%  {background-color:wheat;}
  65%  {background-color:black;}
  75%  {background-color:wheat;}
  65%  {background-color:black;}
  100% {background-color:yellow;}
}

.ace-twilight .ace_tooltip {
    border: 0px;
    background-color: wheat;
}

.gutter-box {
    //background-color: wheat;
    background-color: rgba(255,255,230,0.85);

    border: 0px solid green;
    z-index: 20;
    position: absolute;
}

.gutter-pre {
    margin: 0px 1.2em;
}

/* Style for the breakpoint marker in the gutter */
.ace_gutter-cell.ace_breakpoint {
  //position: relative;
}

/* Create a pseudo-element for the visual marker */
.ace_gutter-cell.ace_breakpoint::before {
    content: " ";
    position: absolute;
    left: 10px;
    width: 3.2em;
    padding: 0px 2px;
    border-radius: 5px 15px 5px 15px;
    background-color: #ff3333;
    box-shadow: 0 0 5px #ff3333;
    opacity: 80%;
    z-index: -5;
}
