body {
background-color: white;
font-family: monofur, Courier New, monospace;
margin-right:2em;
font-size:small;
}

div#sprockets {
text-align:center;float:left;width:1em;margin-left:-0.5em;
color:#a0a0a0;
}

div#header {
background-color:maroon;
color:white;
font-family:Gill Sans,Franklin Gothic Medium,sans-serif;
font-size:150%;
font-weight:bold;
padding:5px 2em 2px;
}

div { 
padding-left:1em; 
color:inherit;
}

div#page {
margin-right:0em;
padding-left:0em;
border-left:1px solid #ffe0e0;
background-color: #f8f8f8;
}

#page > * {
border-left:1px solid #ffe0e0;
margin-left:2em;
}

.error  {background-color: #ff8080;}
.build0 {background-color: #e0ffff; color:#a0a0a0}
.build1 {background-color: #f0ffff; color:#a0a0a0}
.output0 {background-color: #d1e4ff; }
.output1 {background-color: #e6f0ff; }
.sym0    {background-color: #ffecd0;}
.sym1    {background-color: #fff7ea;}
.cc0    {background-color: #e3ffc7;}
.cc1    {background-color: #f3ffe6;}
.chat  {background-color: #fffff0; color:#a0a0a0}
.info  {background-color: #f0fff0; color:#a0a0a0}

